<!-- language selection option starts -->
<div>
    <select (change)="changeLanguage($event)"> 
        <option *ngFor="let lang of ['de', 'en', 'fr']" [selected]="lang=='en'">{{lang}}</option>
    </select>
</div>
<!-- language selection div end -->
<div>
    <h1>{{title|translate}}</h1>
    <div>
        <p>{{'username'|translate}}: <span *ngIf="user">{{user.username}}</span></p>
    </div>
    <!-- form div starts -->
    <div>
        <div>
            <label>{{'firstname'|translate}}:</label>
            <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" *ngIf="user"/>
            <!-- if user data is not fetched display disabled text field -->
            <input type="text" id="firstName" name="firstName" [disabled]="!user" [hidden]="user" />
        </div>
        <div>
            <label>{{'lastname'|translate}}:</label>
            <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" *ngIf="user"/>
            <!-- if user data is not fetched display disabled text field -->
            <input type="text" id="lastName" name="lastName" [disabled]="!user" [hidden]="user" />
        </div>
        <p>{{'email'|translate}}: <span *ngIf="user">{{user.email}}</span></p>
        <input type="button" value="{{'save'|translate}}"  (click)="saveProfile(); displayError=false;"/>
    </div>
    <!-- form div ends -->
    <p *ngIf="displayLoad">{{'loadingprofile'|translate}}</p>
    <p *ngIf="displaySave">{{'savingprofile'|translate}}</p>
    <p *ngIf="displayError">{{'error'|translate}}! <span *ngIf="errorMessage">{{errorMessage|translate}}</span></p>
</div>
